<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap"
      rel="stylesheet"
    />

    <title>My Finance</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <nav><span>My Finance</span></nav>
    </header>
    <main>
      <div class="info">
        <div class="info-top">
          <button id="previous-button">
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <h1 class="month-title"></h1>
          <button id="next-button">
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
        <div class="info-main">
          <ul id="info-items">
            <li class="item-title"></li>
          </ul>
          <div class="info-inputs">
            <input id="add-input" placeholder="Add new info" type="input" />
            <button id="add-button">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="calendar">
        <div class="month">
          <div class="month-container">
            <div class="calendar-days">
              <div class="weekdays">
                <div>D</div>
                <div>L</div>
                <div>M</div>
                <div>X</div>
                <div>J</div>
                <div>V</div>
                <div>S</div>
              </div>
              <div class="days" id="days"></div>
            </div>
          </div>
        </div>
        <div class="year"></div>
      </div>
    </main>
    <footer></footer>
    <script
      src="https://kit.fontawesome.com/b89abaf60d.js"
      crossorigin="anonymous"
    ></script>
    <script src="script.js"></script>
  </body>
</html>
