<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap"
      rel="stylesheet"
    />
    <link type="text/css" rel="stylesheet" href="static/styles.css" />
    <title>My Finance</title>
  </head>
  <body>
    <header>
      <nav style="">
        <span style="">My Finance</span>
        <span style="position: absolute;left: 0;">{{ session.user }}</span>
      </nav>
    </header>
    <main>
      <div class="info">
        <div class="info-top">
          <button id="previous-btn">
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <h1 class="month-title"></h1>
          <button id="next-btn">
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
        <div class="info-main">
          <ul id="info-items">
            <li class="item-title"></li>
          </ul>
          <div class="info-inputs-container income">
            <div class="info-change">
              <button class="info-btn-change">
                Income<i
                  class="fa-solid fa-chevron-down info-btn-change-icon"
                ></i>
              </button>
              <div class="info-change-panel">
                <ul class="info-displayed-change-panel display-down-panel">
                  <li class="change-option">Income</li>
                  <li class="change-option">Expenses</li>
                  <li class="change-option">Notes</li>
                </ul>
              </div>
            </div>
            <div class="info-inputs">
              <input
                class="add-input"
                id="add-number-input"
                placeholder="Income"
                type="input"
              />
              <input
                id="add-description-input"
                class="add-input"
                placeholder="Description"
                type="input"
              />
              <button id="add-btn">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="calendar">
        <div class="month">
          <div class="month-container">
            <div class="calendar-days">
              <div class="weekdays">
                <div>D</div>
                <div>L</div>
                <div>M</div>
                <div>X</div>
                <div>J</div>
                <div>V</div>
                <div>S</div>
              </div>
              <div class="days" id="days"></div>
            </div>
          </div>
        </div>
        <div class="year"></div>
      </div>
    </main>
    <footer></footer>
    <script
      src="https://kit.fontawesome.com/b89abaf60d.js"
      crossorigin="anonymous"
    ></script>
    <script src="static/script.js"></script>
  </body>
</html>
