@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Kanit", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233 233 233);
  margin: 0;
  flex-direction: column;
  box-sizing: content-box;
  width: 100%;
}
main {
  width: 100%;
  display: grid;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
button {
  cursor: pointer;
  border: 0;
}
header {
  width: 100%;
  background-color: rgb(40, 172, 227);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  font-family: "Bree Serif", sans-serif;
  color: white;
  padding: 20px 0;
}

.info {
  background-color: rgb(247, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
  height: auto;
  width: auto;
}

.info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(207, 203, 203);
}
.info-top btn {
  height: 100%;
}

.info-main {
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-change {
  width: 100%;
  position: relative;
}
.info-btn-change {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  position: relative;
  font-weight: 600;
  color: #f9f7f7;
  font-size: 16px;
}
.info-btn-change-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.rotate {
  transform: translateY(-50%) rotate(180deg);
}
.info-change-panel {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  overflow: hidden;
  width: 50%;
  pointer-events: none;
}
.info-change-panel ul {
  position: relative;
  bottom: 120px;
  transition: bottom 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  color: #888484;
  border-radius: 0 0 5px 5px;
  pointer-events: visible;
}

.info-change-panel ul li {
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color ease-in;
}
.info-change-panel ul li:hover {
  background-color: #555;
  color: #fff;
}
.income {
  background-color: rgb(100, 202, 233);
}
.income .info-btn-change {
  background-color: rgb(55 119 198);
}
.income input {
  background-color: rgb(209, 230, 241);
}
.income ul {
  background-color: #d3e7ef;
}
.income #add-btn {
  color: rgb(100, 202, 233);
}
.income #add-description-input {
  display: inline-block;
}

.expenses {
  background-color: rgb(231 84 84);
}
.expenses .info-btn-change {
  background-color: rgb(232 148 148);
}
.expenses input {
  background-color: rgb(241 209 209);
}
.expenses ul {
  background-color: #fadcdc;
}
.expenses #add-btn {
  color: rgb(231 84 84);
}
.expenses #add-description-input {
  display: inline-block;
}

.notes {
  background-color: rgb(109 106 106);
}
.notes .info-btn-change {
  background-color: rgb(146 146 146);
}
.notes input {
  background-color: rgb(211 210 210);
}
.notes ul {
  background-color: #e1e1e1;
}
.notes #add-btn {
  color: rgb(109 106 106);
}
.notes #add-description-input {
  display: none;
}
.notes #add-number-input {
  width: 100%;
}
.notes .info-inputs {
  gap: 8px;
}

.info-inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  gap: 20px;
}
.info-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5px;
}

#info-items {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: rgb(28, 1, 1);
  margin: 0;
  padding: 0;
  gap: 10px;
  overflow-y: scroll;
  max-height: 300px;
}
#info-items::-webkit-scrollbar {
  width: 0px;
}
#info-items li {
  border-bottom: 2px solid rgb(136, 132, 132);
  text-overflow: ellipsis;
}
.item-title {
  color: rgb(70, 67, 67);
  font-weight: 300;
  font-size: 20px;
  width: 100%;
  text-align: center;
}
.add-input {
  height: 38px;
  border: 0;
  border-radius: 10px;
  border-bottom: 2px solid rgb(207, 203, 203);
  outline: none;
  padding-left: 10px;
}
#add-number-input {
  width: 30%;
}
#add-description-input {
  width: 50%;
}
.add-input::placeholder {
  color: rgb(121, 120, 120);
}
#add-btn {
  border: 0;
  border-radius: 100%;
  background-color: rgb(247, 241, 241);
  font-size: 25px;
  cursor: pointer;
  transition: font-size 0.1s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-width: 35px;
  height: 35px;
}
#add-btn:hover {
  font-size: 29px;
}
#previous-btn,
#next-btn {
  background-color: rgb(174 223 243);
  color: white;
  height: 100%;
  width: 50px;
  border: 0;
  border-top: 1px solid #fff;
  cursor: pointer;
}

.month-title {
  text-align: center;
  font-weight: 400;
  color: rgb(136, 132, 132);
  margin: 0;
  min-height: 51px;
}

.calendar {
  width: 100%;
}
.month {
  width: 100%;
}
.weekdays,
.days {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.weekdays div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid white;
  height: 50px;
  font-weight: 600;
  background-color: rgb(174 223 243);
  color: white;
}
.days > div {
  display: flex;
  justify-content: start;
  align-items: start;
  border: 0.5px solid white;
  height: 100px;
  font-size: 15px;
  font-weight: 300;
  background-color: rgb(233 233 233);
  overflow: hidden;
}
.day {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.day:hover > div {
  z-index: 2;
  text-align: left;
  cursor: pointer;
  font-size: 20px;
  border: 10px #555;
  background-color: rgb(233 233 233);
  box-shadow: 4px 3px 10px rgb(29, 29, 29);
  animation: day-transition 0.4s;
  margin-top: -13px;
  width: 100%;
  height: 115px;
  max-height: 115px;
  margin-top: -15px;
}

.day:hover {
  overflow: visible;
}

.day div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
}
.day-info-container {
  font-size: 13px;
  font-weight: 500;
  overflow-y: scroll;
  justify-content: start;
  align-items: center;
  gap: 5px;
  margin-top: 5%;
}
.day-info-container::-webkit-scrollbar {
  width: 0;
}
@keyframes day-transition {
  0% {
    height: 110px;
    margin-top: -5px;
  }
  50% {
    height: 120px;
    margin-top: -20px;
  }
  100% {
    height: 125px;
    margin-top: -15px;
  }
}
.today {
  position: relative;
}
.today-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 7px;
  top: 7px;
  border-radius: 100%;
  background-color: rgb(214, 29, 29);
  animation: brightness 1s infinite;
}
@keyframes brightness {
  0% {
    box-shadow: 0 0 0px #d90000;
  }
  50% {
    box-shadow: 0 0 10px #d90000;
  }
  100% {
    box-shadow: 0 0 0px #d90000;
  }
}
.month-container {
}
.year-title {
}
.year-title h2 {
}
.month-year {
}
.month-year:hover {
}

@media (min-width: 767px) {
  .info {
    order: 0;
  }
  main {
    grid-template-columns: 1fr 2fr;
  }
}
@media (min-width: 1023px) {
  .year {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1450px) {
  .year {
    grid-template-columns: repeat(4, 1fr);
  }
}
