@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2fcfd;
  margin: 0;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}
main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
header {
  width: 100%;
  height: 50px;
  background-color: #b0f5fc;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  font-family: "Bree Serif", sans-serif;
  color: #043237;
}

.info {
  background-color: #f9fcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.month-title {
  text-align: center;
}

.calendar {
  width: 100%;
}
.year {
}
.month {
  width: 100%;
}
.weekdays,
.days {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.weekdays div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid black;
  height: 30px;
  font-weight: 600;
  background-color: #e3fcff;
}
.days div {
  display: flex;
  justify-content: start;
  align-items: start;
  border: 0.5px solid black;
  height: 100px;
  font-size: 10px;
  font-weight: 100;
  background-color: #f2fcfd;
}
.weekdays div {
}
.weekdays div:last-child {
}
.days div:last-child {
  border: 0;
  border-left: 0.5px solid black;
  background-color: #eafdff;
}

/*
.day:hover span {
z-index: 2;
align-self: center;
cursor: pointer;
font-size: 29px;
border: 10px #555;
background-color: rgb(232, 249, 255);
box-shadow: 8px 6px 5px rgb(29, 29, 29);
padding: 40% 45%;
}
*/
.day {
  display: flex;
  align-items: start;
  justify-content: start;
}
.day span {
}
.today {
}
.month-container {
}
.year-title {
}
.year-title h2 {
}
.month-year {
}
.month-year:hover {
}

@media (min-width: 767px) {
  .year {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1023px) {
  .year {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1450px) {
  .year {
    grid-template-columns: repeat(4, 1fr);
  }
}
