<!DOCTYPE html>
<html>
<head>
    <title>Calendario</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <h1>Calendario</h1>
    <form action="/addEvent" method="post">
        <label for="fecha">Fecha (YYYY-MM-DD):</label>
        <input type="date" id="fecha" name="fecha" required>
        <br>
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" required>
        <br>
        <button type="submit">Agregar Evento</button>
    </form>
    <h2>Eventos:</h2>
    <ul>
        {% for nota in notas %}
            <li>{{ nota[1] }} - {{ nota[2] }} <a href="/deleteNota/{{ nota[0] }}">Eliminar</a></li>
        {% endfor %}
    </ul>
    <a href="/userHome">Volver al inicio</a>
</body>
</html>
