<!-- -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MyFinance</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="signIn">Sign In</a></li>
            <li role="presentation"><a href="showSignUp">Sign Up</a></li>
          </ul>
        </nav>
      </div>

      <footer class="footer">
        <p>&copy; MyFinance 20124</p>
      </footer>
    </div>
  </body>
</html>
