<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign UPs</title>
    <link href="../static/signup.css" rel="stylesheet">
</head>
<body>
        <div class="header">
            <nav>
                <ul>
                    <li><a href="/">Calendar</a></li>
                    <li><a href="/signin">Sign In</a></li>
                    <li><a class="active" href="/showSignUp">Sign Up</a></li>
                </ul>
            </nav>
        </div>
        <div class="container">
			<div class="bg-light">
				<h1 class="display-4">Register</h1>
				<form class="form-signin" id="signUpForm">
					<div class="form-group">
						<label for="inputName">Name</label>
						<input type="text" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
					</div>
					<div class="form-group">
						<label for="inputEmail">Email address</label>
						<input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required>
					</div>
					<div class="form-group">
						<label for="inputPassword">Password</label>
						<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
					</div>
					<button id="btnSignUp" class="btn" type="submit">Sign up</button>
				</form>
			</div>
		
        </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#signUpForm').on('submit', function(event){
                event.preventDefault(); // Prevent default form submission
                $.ajax({
                    url: '/signUp',
                    data: $(this).serialize(),
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</body>
</html>
