<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign UP</title>
    <link href="static/signup.css" rel="stylesheet" />
  </head>
  <div class="user-panel">
    <h3 id="user-message"></h3>
    <div class="panel-buttons">
      <button>Ok</button>
    </div>
  </div>
  <body>
    <header>
      <nav>
        <a href="/" class="nav-link calendar"
          ><i class="fa-solid fa-calendar-days"></i><span>Calendar</span></a
        >
        <span class="title">My Finance</span>
        <div class="navegation">
          <a href="/showSignUp" class="nav-link active" aria-current="page"
            >Sign Up</a
          >
          <a href="/signin" class="nav-link">Sign In</a>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="bg-light">
        <h1 class="display-4">Register</h1>
        <form class="form-signin" id="signUpForm">
          <div class="form-group">
            <label for="inputName">Name</label>
            <input
              type="text"
              name="inputName"
              id="inputName"
              class="form-control"
              placeholder="Name"
              required
              autofocus
            />
          </div>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input
              type="email"
              name="inputEmail"
              id="inputEmail"
              class="form-control"
              placeholder="Email address"
              required
            />
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input
              type="password"
              name="inputPassword"
              id="inputPassword"
              class="form-control"
              placeholder="Password"
              required
            />
          </div>
          <button id="btnSignUp" class="btn" type="submit">Sign up</button>
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
      const userPanel = document.querySelector(".user-panel");

      $(document).ready(function () {
        $("#signUpForm").on("submit", function (event) {
          event.preventDefault(); // Prevent default form submission
          $.ajax({
            url: "/signUp",
            data: $(this).serialize(),
            type: "POST",
            success: function (response) {
              console.log(response);

              if (response.error) {
                showUserPanel(response.error);
              } else if (response.success) {
                window.location.href = "/";
              }
            },
          });
        });
      });
      function showUserPanel(info) {
        const header = document.querySelector("header");
        $("#user-message").text(info);
        header.style.pointerEvents = "none";

        userPanel.classList.add("fade-up");
        let buttons = userPanel.querySelector(".panel-buttons");
        buttons.children[0].addEventListener("click", function () {
          userPanel.classList.remove("fade-up");
          header.style.pointerEvents = "auto";
        });
      }
    </script>
    <script
      src="https://kit.fontawesome.com/b89abaf60d.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
