<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Python Flask Bucket List App</title>
		
		<!-- Bootstrap CSS -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/signup.css" rel="stylesheet">
		
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		
		<!-- Custom JS -->
		<script src="../static/js.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="header my-4">
				<nav>
					<ul class="nav nav-pills justify-content-end">
						<li class="nav-item">
							<a class="nav-link" href="/">Calendar</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/signin">Sign In</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/showSignUp">Sign Up</a>
						</li>
					</ul>
				</nav>
				<h3 class="text-muted">Python Flask App</h3>
			</div>
			<div class="jumbotron">
				<h1 class="display-4">Bucket List App</h1>
				<form class="form-signin">
					<div class="form-group">
						<label for="inputName">Name</label>
						<input type="text" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
					</div>
					<div class="form-group">
						<label for="inputEmail">Email address</label>
						<input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required>
					</div>
					<div class="form-group">
						<label for="inputPassword">Password</label>
						<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
					</div>
					<button id="btnSignUp" class="btn btn-primary btn-lg btn-block" type="submit">Sign up</button>
				</form>
			</div>
			
			<footer class="footer mt-5">
				<p>&copy; MyFinance 2024</p>
			</footer>
		</div>
		
		<script>
			$(document).ready(function(){
				$('form').on('submit', function(event){
					event.preventDefault(); // Prevent default form submission
					$.ajax({
						url: '/signUp',
						data: $(this).serialize(),
						type: 'POST',
						success: function(response) {
							console.log(response);
						},
						error: function(error) {
							console.log(error);
						}
					});
				});
			});
		</script>
	</body>
</html>
