<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign In</title>
    <link href="static/signIn.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/" class="nav-link calendar"
          ><i class="fa-solid fa-calendar-days"></i><span>Calendar</span></a
        >
        <span class="title">My Fynance</span>
        <div class="navegation">
          <a href="/showSignUp" class="nav-link">Sign Up</a>
          <a href="/signin" class="nav-link active" aria-current="page"
            >Sign In</a
          >
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="bg-light">
        <h1 class="text-center fw-bold display-5">Sign In</h1>
        <form class="form-signin" action="/api/validateLogin" method="post">
          <label for="inputEmail">Email address</label>
          <input
            type="email"
            name="inputEmail"
            id="inputEmail"
            class="form-control"
            placeholder="Email address"
            required
            autofocus
            value="caig@caig.com"
          />
          <label for="inputPassword">Password</label>
          <input
            type="password"
            name="inputPassword"
            id="inputPassword"
            class="form-control"
            placeholder="Password"
            required
          />
          <button id="btnSignIn" class="btn" type="submit">Sign in</button>
        </form>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/b89abaf60d.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
